* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 10px;
}

div {
    text-align: center;
}

.formulario  {    
   display: flex;
   flex-direction: column;    
   align-items: center;
}

.input_A,
.input_B {
    width: 30%;
    padding: 8px;
    margin-bottom: 8px;
}

.botao {
    width: 30%;
    padding: 5px;
}

.mensagem_validacao {
    margin-top: 20px;   
    
}

